USE [master]
GO
/****** Object:  Database [WebApiDB]    Script Date: 26/04/2020 20:21:38 ******/

ALTER DATABASE [WebApiDB] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebApiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebApiDB]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 26/04/2020 20:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[MusicTypeID] [uniqueidentifier] NOT NULL,
	[ArtistID] [uniqueidentifier] NOT NULL,
	[AlbumPriceID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Review] [nvarchar](max) NULL,
	[Released] [datetime] NULL,
	[CopyRightInfo] [nvarchar](500) NULL,
	[CoverPath] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ALBUM] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALBUM_PRICE]    Script Date: 26/04/2020 20:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM_PRICE](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Price] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_ALBUM_PRICE] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALBUM_RATING]    Script Date: 26/04/2020 20:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM_RATING](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[AlbumID] [uniqueidentifier] NOT NULL,
	[RatingTypeID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ALBUM_RATING] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARTIST]    Script Date: 26/04/2020 20:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIST](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ARTIST] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSIC_TYPE]    Script Date: 26/04/2020 20:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSIC_TYPE](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MUSIC_TYPE] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING_TYPE]    Script Date: 26/04/2020 20:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING_TYPE](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_RATING_TYPE] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONG]    Script Date: 26/04/2020 20:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONG](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[AlbumID] [uniqueidentifier] NOT NULL,
	[SongPriceID] [uniqueidentifier] NOT NULL,
	[Number] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Time] [time](0) NOT NULL,
	[Popularity] [int] NULL,
 CONSTRAINT [PK_SONG] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONG_PRICE]    Script Date: 26/04/2020 20:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONG_PRICE](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Price] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_SONG_PRICE] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ALBUM_PRICE] ([UniqueID], [Price]) VALUES (N'1a178d0e-6602-4375-a088-ab8d00facaa1', CAST(11.29 AS Decimal(9, 2)))
INSERT [dbo].[ALBUM_PRICE] ([UniqueID], [Price]) VALUES (N'1a178d0e-6602-4375-a088-ab8d00facaa2', CAST(12.29 AS Decimal(9, 2)))
INSERT [dbo].[ALBUM_PRICE] ([UniqueID], [Price]) VALUES (N'1a178d0e-6602-4375-a088-ab8d00facaa3', CAST(13.29 AS Decimal(9, 2)))
GO
INSERT [dbo].[ALBUM_RATING] ([UniqueID], [AlbumID], [RatingTypeID]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00fabbb1', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'5befa4aa-06fd-4390-a2f5-a54600d4e3b4')
INSERT [dbo].[ALBUM_RATING] ([UniqueID], [AlbumID], [RatingTypeID]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00fabbb2', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'5befa4aa-06fd-4390-a2f5-a54600d4e3b5')
GO
INSERT [dbo].[ARTIST] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3a1', N'Backstreet Boys')
INSERT [dbo].[ARTIST] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3a2', N'The Beatles')
INSERT [dbo].[ARTIST] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3a3', N'Elvis Presley')
GO
INSERT [dbo].[MUSIC_TYPE] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3c1', N'Pop')
INSERT [dbo].[MUSIC_TYPE] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3c2', N'Rock and Roll')
GO
INSERT [dbo].[RATING_TYPE] ([UniqueID], [Name], [Value]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3b1', N'Star 1', 1)
INSERT [dbo].[RATING_TYPE] ([UniqueID], [Name], [Value]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3b2', N'Star 2', 2)
INSERT [dbo].[RATING_TYPE] ([UniqueID], [Name], [Value]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3b3', N'Star 3', 3)
GO
INSERT [dbo].[SONG] ([UniqueID], [AlbumID], [SongPriceID], [Number], [Name], [Time], [Popularity]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00facad1', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'1b178d0e-6602-4375-a088-ab8d00facbb1', 1, N'Don''t Go Breaking My Heart', CAST(N'00:03:36' AS Time), 70)
INSERT [dbo].[SONG] ([UniqueID], [AlbumID], [SongPriceID], [Number], [Name], [Time], [Popularity]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00facad2', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'1b178d0e-6602-4375-a088-ab8d00facbb1', 2, N'Nobody Else', CAST(N'00:03:38' AS Time), 20)
INSERT [dbo].[SONG] ([UniqueID], [AlbumID], [SongPriceID], [Number], [Name], [Time], [Popularity]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00facad3', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'1b178d0e-6602-4375-a088-ab8d00facbb1', 3, N'Breathe', CAST(N'00:03:06' AS Time), 30)
GO
INSERT [dbo].[SONG_PRICE] ([UniqueID], [Price]) VALUES (N'1b178d0e-6602-4375-a088-ab8d00facbb1', CAST(1.29 AS Decimal(9, 2)))
INSERT [dbo].[SONG_PRICE] ([UniqueID], [Price]) VALUES (N'1b178d0e-6602-4375-a088-ab8d00facbb2', CAST(1.30 AS Decimal(9, 2)))
INSERT [dbo].[SONG_PRICE] ([UniqueID], [Price]) VALUES (N'1b178d0e-6602-4375-a088-ab8d00facbb3', CAST(1.31 AS Decimal(9, 2)))
GO
ALTER TABLE [dbo].[ARTIST] ADD  CONSTRAINT [DF_ARTIST_UniqueID]  DEFAULT (newid()) FOR [UniqueID]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_ALBUM_PRICE] FOREIGN KEY([AlbumPriceID])
REFERENCES [dbo].[ALBUM_PRICE] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_ALBUM_PRICE]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_ARTIST] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[ARTIST] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_ARTIST]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_MUSIC_TYPE] FOREIGN KEY([MusicTypeID])
REFERENCES [dbo].[MUSIC_TYPE] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_MUSIC_TYPE]
GO
ALTER TABLE [dbo].[ALBUM_RATING]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_RATING_ALBUM] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[ALBUM] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM_RATING] CHECK CONSTRAINT [FK_ALBUM_RATING_ALBUM]
GO
ALTER TABLE [dbo].[ALBUM_RATING]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_RATING_RATING_TYPE] FOREIGN KEY([RatingTypeID])
REFERENCES [dbo].[RATING_TYPE] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM_RATING] CHECK CONSTRAINT [FK_ALBUM_RATING_RATING_TYPE]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONG_ALBUM] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[ALBUM] ([UniqueID])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONG_ALBUM]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONG_SONG_PRICE] FOREIGN KEY([SongPriceID])
REFERENCES [dbo].[SONG_PRICE] ([UniqueID])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONG_SONG_PRICE]
GO
USE [master]
GO
